*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Poppins';
    background: rgb(24, 24, 24)
}

body {
    overflow-x: hidden;
}

.webgl
{
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    mix-blend-mode: exclusion;
}

.container {
    height: 80vh;
    display: grid;
    place-items: center;
}

h1 {
    font-size: 4rem;
    text-transform: uppercase;
    color: white;
    text-align: center
}

section {
    height: 100vh;
}


h2 {
    padding-left: 10%;
    font-size: 2rem;
    color: rgb(245, 72, 72);
}

article {
    font-size: 1rem;
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
    color: aliceblue;
}
